# source: https://bbs.archlinux.org/viewtopic.php?pid=1170536#p1170536 by 65kid
#
[Unit]
Description=i3lock
Before=sleep.target

[Service]
User=w1tch
Type=forking
Environment=DISPLAY=:0
#ExecStart=/usr/bin/i3lock
ExecStart=/home/jackiebailz/.config/lock/lock3.sh

[Install]
WantedBy=sleep.target
